<p>Sign up</p>

<form action="<% users_url %>"  method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]">
  
  <label for="password">Password</label>
  <input type="text" name="user[password]">
  
  <input type="submit">
</form>