/* PHASE 3: Content */

.content {
  width: 900px;
  margin: auto;
  background: #fff;
  color: #000;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* background: blue; */
}

.content-sidebar {
  width: 240px;
  float: left;
  /* background: green; */
}

.content-main {
  width: 660px;
  float: left;
  /* background: yellow; */
}

.content h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px 20px 0;
}

.content p {
  padding: 10px;
}